%html
  %head
    %title 
      BlogStudy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  .new_title
    BlogStudy
  %body
    .str
      .blog
        .sidebar
          .sidebar_title
            SideBar
          .link_in_sidebar
            %a{href:"#"}Mrmrmr
          .link_in_sidebar
            %a{href:"#"}Murmurmur

       
        = yield
  
      %footer
        .h3
          .foot_copy
            .row
              .small_1
                (c)copy
              .small_5
                2014
            .row
              .small_3
                (123)-45-67-89