%html
  %head
    %title 
      BlogStudy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  .row
  .column.small-12.new-title
    BlogStudy
  %body
    .row
      .column.small-3.sidebar
        .sidebar-menu
          %a{href:"#"}link 1
        .sidebar-menu
          %a{href:"#"}link 2
        .sidebar-menu
          %a{href:"#"}link 3
        .sidebar-menu
          %a{href:"#"}link 4

      .column.small-9.blog
        = yield
    .row.foot-copy
      %footer
        .column.small-6
          (c)copy copy copy copy 
        .column.small-6
          2014
          .row
            .column.small-8
              (c)copy copy copy copy ccccc
            .column.small-4
              2014
                