%html
  %head
    %title 
      BlogStudy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  .new_title
    BlogStudy
  %body
    .str
      .blog
        .sidebar
          %nav
            %ul
              %li
                %a{href:"#"}link 1
              %li
                %a{href:"#"}link 2
              %li
                %a{href:"#"}link 3
              %li
                %a{href:"#"}link 4

       
        = yield
  
      %footer
        .h3
          .foot_copy
            .row
              .small_11
                (c)copy
              .small_1
                2014
            .row
              .small_3
                (123)-45-67-89 
                