%html
  %head
    %title 
      BlogStudy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    .section-nav
      %ul
        .nav-content.nav-padding-for-menu
          %li
            %a{href:"#"}Restaraunt
        .nav-content.nav-padding-for-menu
          %li
            %a{href:"#"}About us
        .nav-content.nav-padding-for-menu
          %li
            %a{href:"#"}Conditions
        .nav-content.nav-padding-for-menu
          %li
            %a{href:"#"}Contact

        .nav-content.nav-select
          %li
            .select-container
              %select{name: "menu", size: "1"}
                %option{selected: "selected", value: "first"}
                  $
                %option{value: "second"}
                  руб
            .little_select_button
        .nav-content.price
          %li
            1 200
        .nav-content.nav-box
          %li
            .box
             
              
        .nav-button-lang
          %input{type: "radio", value:"ENG", id: "eng",name: "lang"}
          %label{for: "eng"}
            ENG
          %input{type: "radio", value:"PУС", id: "rus",name: "lang"}
          %label{for: "rus"}
            РУC


    .section-social
      .row
        .column.small-2
          .social-logo
        .column.small-2
          .social-phone
        .column.small-1
          .social-vk-fb
        .column.small-2.small-offset-1.social-welcome
          .stuard
          .text  
            .welcome-text
              Welcome on board, 
            .welcome-name
              Diana
            .exit

    .section-slogan
      .row
        .column.small-8
          %h1
            More than 
            .slogan-important-part
              %strong
                100 
            of the 
            .slogan-important-part
              %strong
                best restaurants 
            around the world!
    
    .section-country-city
      .row.country-city-background
        .column.small-2.small-offset-1
          
          .select-container
            %select{name: "menu", size: "1",id:"country"}
              %option{selected: "selected", value: "first"}
                Country
              %option{value: "second"}
                Russia
              %option{value: "third"}
                Austria
              %option{value: "fourth"}
                France
          .select_button

        .column.small-2
          .select-container
            %select{name: "menu", size: "1"}
              %option{selected: "selected", value: "first"}
                City
              %option{value: "second"}
                Moscow
              %option{value: "third"}
                Kazan
              %option{value: "fourth"}
                Vienna
              %option{value: "fourth"}
                Verona
          .select_button
        .column.small-2
          .select-container
            %input{type: "button", value:"SHOW ME"}




    
   
  %body
    = yield

  %footer
    .section-featuring
      .row
        .column.small-1
          .featuring-www
        .column.small-1
          .featuring-visa
        .column.small-1
          .featuring-clock
        .column.small-3
          .featuring-24_7
        .column.small-1
          .featuring-mail
        .column.small-1
          .featuring-car

    .section-most-popular
      .row.most-popular-text
        .column.small-2
          Most popular restaurants
      .row
        .column.small-1
          .cafe-gallery
        .column.small-1
          .shinok
        .column.small-1
          .turandot
        .column.small-1
          .mario
        .column.small-1
          .chaihona
        .column.small-1
          .gq
        .column.small-1
          .compas
        .column.small-1
          .u2-restaurant

    .section-coming-soon
      .row
        .column.small-2.small-offset-2.app_submit
          %input{type: "submit", value: ""}
        .column.small-2.andr_submit
          %input{type: "submit", value: ""}

    .section-references-our-news
      .row
        .column.small-4.heading-text
          References
        .column.small-2.heading-text
          Our news
      .row
        .column.small-1
          .nomad-aviation
        .column.small-3.review-text
          «SkyPoint has definitely improved our catering ordering process and helps us save time. The platform is easy to use, provides exact cost of the order including delivery and has!»
          .review-autor-name
            Kristel Pereira, Chief Flight Attendant

        .column.small-2
          .news
            .news-data
              1 April 2013
            .news-text
              %a{href:"#"}Now SkyPoint work with New York restaraunts Pushkin!
          .news
            .news-data
              1 April 2013
            .news-text
              %a{href:"#"}Now SkyPoint work with New York restaraunts Pushkin!

        .column.small-2
          .news
            .news-data
              1 April 2013
            .news-text
              %a{href:"#"}Now SkyPoint work with New York restaraunts Pushkin!
          .news
            .news-data
              1 April 2013
            .news-text
              %a{href:"#"}Now SkyPoint work with New York restaraunts Pushkin!

    .section-contacts-address
      .row.contacts-address-container
        .column.small-2
          .plan-and-brand-container
            .plan
            .contacts-address-text
              © 2011-2013 
              .important-text
                SkyPoint LLC

        .column.small-4
          .address-container
            .balun
            .contacts-address-text
              109316, Russia, Moscow, Ostapovskiy proyezd, 5/1, office 802;
              %br 
              Phone: 
              .important-text
                +7 (495) 215-01-15; 
              E-mail: 
              %a{href:"#"}order@sky-point.net


        .pentagon-and-support-container
          .pentagon-1
          .contacts-address-text.support-text
            Designed and support 
            %a{href:"#"}Factory #1

    .section-last-footer-links
      .row
        .column.small-3.my_cont
          %ul
            .footer-link.footer-link-margin
              %li
                %a{href:"#"}About us
            .footer-link.footer-link-margin
              %li
                %a{href:"#"}Contacts
            .footer-link.footer-link-margin
              %li
                %a{href:"#"}Help
            .footer-link
              %li
                %a{href:"#"}Private police

        .column.small-2.visa-and-mk-container
          .master-kard
          .visa
          .we-accept-text
            We accept







                      